/* EVERYTHING IS FOLDED */
/* TO UNFOLD ALL: (CTRL + K   CTRL + J) */
/* TO FOLD ALL: (CTRL + K   CTRL + 0) */

/* * {
    border: 2px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,700;0,900;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

html {
    font-size: 62.5%;
    font-family: Roboto Serif, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* VARIABLES */
/* Header */
/* .headContainer {} */
/* .header {} */
/* .logo {} */
/* .logoLink {} */
/* .logoImg {} */
/* .nav {} */
/* .navUl {} */
/* .navLi {} */
/* .headerSearch {} */
/*  */
/*  */
/*  */
/* Hero */
/*  */
/* Footer */
/*  */
/*  */

/* MEDIA QUERIES */
/* Ex-Small Devices */
/* @media only screen and (max-width: 479px) {}; */
/* Small Devices */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {}; */
/* Medium Devices */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {}; */
/* Large/Ex-Large Devices */
/* @media only screen and (min-width: 1024px) {}; */

/* HEADER */
/* Styling the layout of the header */
.header {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    max-height: 7.5rem;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid rgb(160, 152, 152);
    background-color: rgba(73, 70, 70, 0.548);
}

/* Maintaining control of 'logo.png' */
.logoImg {
    max-width: 7rem;
}

/* Style 'nav' links horizontally */
.navUl {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Style text of 'a' tags under 'navLi' to remove underlines and change color */
.navLi,
a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Style text of 'a' tags under 'navLi' during :hover to grow 20% and turn yellow */
.navLi,
a:hover {
    font-size: 2rem;
    color: yellow;
}

/* Style 'nav' search/input element */
input,
input:active {
    display: flex;
    border: none;
    border-radius: 3rem;
    padding: 1rem 1rem;
    font-family: "Roboto Serif", sans-serif;
    color: rgba(73, 70, 70, 0.548);
    background-color: whitesmoke;
}
