/* EVERYTHING IS FOLDED */
/* TO UNFOLD ALL: (CTRL + K   CTRL + J) */
/* TO FOLD ALL: (CTRL + K   CTRL + 0) */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,700;0,900;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* overflow: hidden; */
    position: relative;
}

/* Displaying flex throughout site contents; setting font-family */
html {
    height: 100%;
    margin: auto;
}

body {
    flex: 1;
}

.siteContent {
    font-family: Roboto Serif, sans-serif;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 100vh;
}

/* * {
    border: 2px solid red;
} */

/* VARIABLES */
/*  */
/* MAIN */
/* .siteContent {} */
/*  */
/* Header */
/*  */
/* .headContainer {} */
/* .header {} */
/* .logo {} */
/* .logoLink {} */
/* .logoImg {} */
/* .nav {} */
/* .navUl {} */
/* .navLi {} */
/* .headerSearch {} */
/*  */
/* Hero */
/*  */
/* .heroContainer {} */
/* .heroLeft {} */
/* .heroRight {} */
/* .heroHero {} */
/* .heroImg {} */
/* .heroSmallTxt {} */
/*  */
/* Footer */
/* .footerContainer {} */
/* .footerGHLink {} */

/* Utility Classes */
.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

/* MEDIA QUERIES */
/* Ex-Small Devices */
/* @media only screen and (max-width: 479px) {}; */
/* Small Devices */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {}; */
/* Medium Devices */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {}; */
/* Large/Ex-Large Devices */
/* @media only screen and (min-width: 1024px) {}; */

/* Not allowing the header or footer to shrink */
.headContainer,
.footerContainer {
    flex: none;
}

/* Setting flex to stop sections from shrinking; keep footer sticky */

/* HEADER */
/* Styling the layout of the header */
.header {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
    padding: 1rem 3rem;
    max-height: 15rem;
    border-bottom: 0.1rem solid rgb(160, 152, 152);
    background-color: rgba(73, 70, 70, 0.548);
}

/* **FIXED** 'logo' margin-right problem by targeting 'logo' instead of 'logoLink' */
.logoImg {
    width: 7.5rem;
    height: auto;
}

/* Maintaining control of 'logo.png' */
.logoLink {
    display: flex;
}

/* Style 'nav' links horizontally */
.navUl {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
}

/* Style text of 'a' tags under 'navLi' to remove underlines and change color */
.navLi,
.navLinks {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}

/* Style text of 'a' tags under 'navLi' during :hover to grow 20% and turn yellow */
.navLi,
.navLinks:hover {
    font-size: 2.5rem;
    color: yellow;
}

/* Style 'nav' search/input element */
input {
    border: none;
    border-radius: 3rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    font-family: "Roboto Serif", sans-serif;
    color: rgba(73, 70, 70, 0.548);
    background-color: whitesmoke;
}

/* HERO */
/* Style hero section flex row; add gradient bg */
.heroContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
    padding-bottom: 10rem;
    height: 200rem;
    background-image: url("./img/assets/section_bg/hero_img_3d2417_2560.svg");
    background-color: #351414da;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroLeft {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.heroRight,
.heroLeft {
    max-width: 50%;
}

.heroText {
    display: flex;
    color: whitesmoke;
    max-width: 75%;
    align-items: center;
    padding: 2rem;
}

.heroHero {
    font-size: 10rem;
    line-height: 10rem;
}

.heroSmallTxt {
    font-size: 2.5rem;
    line-height: 3rem;
}

.heroButton {
    align-self: flex-start;
    align-content: center;
    padding: 2rem;
    margin-top: 2rem;
    cursor: default;
}

.heroButtonLink {
    text-decoration: none;
    color: #3d2417;
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 3rem;
    font-family: Roboto Serif, sans-serif;
    cursor: pointer;
}

.heroButtonLink:hover {
    background: linear-gradient(
        rgba(26, 56, 21, 0.9),
        rgba(255, 255, 255, 0.7)
    );
    color: whitesmoke;
}

/* SECTION TWO - SERVICES */
.sectionTwoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 10rem;
}

.sectionTwoContainerLeft,
.sectionTwoContainerMid,
.sectionTwoContainerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 10rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.3rem 0.7rem 0.3rem rgba(73, 70, 70, 0.548);
}

.sectionTwoContainerLeft:hover,
.sectionTwoContainerMid:hover,
.sectionTwoContainerRight:hover {
    padding: 5rem;
    border: 1px solid #49464670;
    box-shadow: 0rem 0.3rem 0.7rem 0.3rem rgba(80, 63, 63, 0.747);
}

.sectionTwoContainerImg {
    width: 25rem;
    height: auto;
}

.sectionTwoTop {
    padding: 2rem;
}

.sectionTwoMid {
    font-size: 3rem;
    color: #494646;
    text-align: center;
    padding: 1rem;
}

.sectionTwoBottom {
    font-size: 2rem;
    color: #494646;
    text-align: center;
    padding: 1rem;
}

/* FOOTER */
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    height: 17.5rem;
    padding: 2rem;
    background-color: rgba(73, 70, 70, 0.548);
}

.footerLeft,
.footerMid,
.footerRight {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    font-family: Roboto Serif, sans-serif;
    padding: 1rem;
}

.footerLeft {
    align-items: flex-start;
}

.footerLeftMid,
.footerLeftBottom {
    padding-bottom: 0.5rem;
    color: whitesmoke;
    font-size: 1rem;
}

.footerMid {
    align-items: center;
}

.footerMidMid,
.footerMidBottom {
    padding-bottom: 0.5rem;
}

.footerMidLogo,
.footerSmImg {
    max-height: 5rem;
    width: auto;
}

.footerMidLogo:hover,
.footerSmImg:hover {
    max-height: 6rem;
}

.footerMidTop,
.footerLeftTop {
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: whitesmoke;
}

.footerRight {
    align-items: flex-end;
}

.footerRightTop,
.footerRightMid,
.footerRightTop {
    padding-bottom: 1rem;
}

.footerRightLink {
    font-size: 1.6rem;
    text-decoration: none;
    padding-bottom: 2rem;
    color: whitesmoke;
}

.footerRightLink:hover {
    font-size: 2rem;
    color: whitesmoke;
}
