/* EVERYTHING IS FOLDED */
/* TO UNFOLD ALL: (CTRL + K   CTRL + J) */
/* TO FOLD ALL: (CTRL + K   CTRL + 0) */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,700;0,900;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: hidden;
    position: relative;
}

/* Displaying flex throughout site contents; setting font-family */
body {
    font-family: Roboto Serif, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

* {
    border: 2px solid red;
}

/* VARIABLES */
/*  */
/* MAIN */
/* .siteContent {} */
/*  */
/* Header */
/*  */
/* .headContainer {} */
/* .header {} */
/* .logo {} */
/* .logoLink {} */
/* .logoImg {} */
/* .nav {} */
/* .navUl {} */
/* .navLi {} */
/* .headerSearch {} */
/*  */
/* Hero */
/*  */
/* .heroContainer {} */
/* .heroLeft {} */
/* .heroRight {} */
/* .heroHero {} */
/* .heroImg {} */
/* .heroSmallTxt {} */
/*  */
/* Footer */
/* .footerContainer {} */
/* .footerGHLink {} */

/* Utility Classes */
.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

/* MEDIA QUERIES */
/* Ex-Small Devices */
/* @media only screen and (max-width: 479px) {}; */
/* Small Devices */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {}; */
/* Medium Devices */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {}; */
/* Large/Ex-Large Devices */
/* @media only screen and (min-width: 1024px) {}; */

/* Not allowing the header or footer to shrink */
.headContainer,
.footerContainer {
    flex: none;
}

/* Setting flex to stop sections from shrinking; keep footer sticky */
.siteContent {
    flex: 1 0 auto;
}

/* HEADER */
/* Styling the layout of the header */
.header {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
    padding: 1rem 3rem;
    border-bottom: 0.1rem solid rgb(160, 152, 152);
    background-color: rgba(73, 70, 70, 0.548);
}

/* **FIXED** 'logo' margin-right problem by targeting 'logo' instead of 'logoLink' */
.logo {
    max-width: 7.5rem;
    height: auto;
}

/* Maintaining control of 'logo.png' */
.logoLink {
    display: flex;
}

/* Style 'nav' links horizontally */
.navUl {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

/* Style text of 'a' tags under 'navLi' to remove underlines and change color */
.navLi,
.navLinks {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}

/* Style text of 'a' tags under 'navLi' during :hover to grow 20% and turn yellow */
.navLi,
.navLinks:hover {
    font-size: 2.5rem;
    color: yellow;
}

/* Style 'nav' search/input element */
input {
    border: none;
    border-radius: 3rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    font-family: "Roboto Serif", sans-serif;
    color: rgba(73, 70, 70, 0.548);
    background-color: whitesmoke;
}

/* HERO */
/* Style hero section flex row; add gradient bg */
.heroContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 0 auto;
    height: 150rem;
    background-image: url("./img/assets/section_bg/hero_img_3d2417_2560.svg");
    background-color: #351414da;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.heroRight,
.heroLeft {
    max-width: 50%;
}

.heroText {
    display: flex;
    color: whitesmoke;
    max-width: 75%;
    align-items: center;
    padding: 2rem;
}

.heroHero {
    font-size: 10rem;
    line-height: 10rem;
}

.heroSmallTxt {
    font-size: 2.5rem;
    line-height: 3rem;
}

.footerContainer {
    display: flex;
    flex: 1 0 auto;
    height: 10rem;
}
